_data/
_gis/
_scripts/Summer2019/.RData
_scripts/Summer2019/.Rhistory
_scripts/Summer2019/.Rproj.user/
_scripts/research2020/.RData
_scripts/research2020/.Rhistory
_scripts/research2020/.Rproj.user/
_scripts/research2020/RAW
_scripts/research2020/EXTRACTIONS
.Rproj.user
